nav{
  flex: 1;
  display:flex;
  justify-content: space-around;
  margin: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container{
  margin: 0 auto;
  text-align: center;
}

.boxs{
  width: 80%;
  max-width: 800px;
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.section {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.title{
  font-size: 2.6em;
  color: black;
}

.header{
  color: #333;
}

.introduction{
  font-size: 1.5em;
  font-weight: 400;
  color: #066dc6;
}

.buttons {
  margin-top: 20px;
}

.space{
  width: 30px;
  display: inline-block;
}

.left{
  text-align: left;;
}

.box-con{
  font-size: 18px;
  line-height: 1.4em;
  color: #066dc6;
}

.blue{
  color: #066dc6;
}

.features {
  margin-top: 100px
}

.bsize{
  font-size: 1.8em;
}
.title{
  color: white;
}
.footer{
  width: 100%;
  height: 40px;
  color: #fff;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  background-color:#066dc6;
  opacity: 50%;
}

.code{
  font-size: 14px;
}

.underline{
  text-decoration:underline;
}


.navbar-title {
  display:contents;
  justify-content:right;
  align-items: right;
  text-align: right;
  position: fixed;
  margin-right: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  font-size: 20px;
}


h4.introduction a {
  text-decoration:double;
  color: inherit;
}

.opaque-image {
  opacity: 0.3;
  padding: 250px;
}


@media screen and (max-width: 1000px) {
  .parallax-projects {
    display: flex;
    min-height: 1200px;
  }
  }
@media screen and (max-width: 665px) {
  .parallax-projects {
    min-height: 2350px;
  }
}