nav{
  flex: 1;
  display:flex;;
  justify-content: space-between;
  z-index: 2;
}
a {
  text-decoration: wavy;
  color: inherit;
}
ul li li:before {
  content: '-';  
  padding-right: 5px;
}

li {
  text-align: left;
  margin-left: 10%;
  margin-top: 5px;
}

.App{
  background-color: rgb(221,208,195);
}
.nav{
  background-color: transparent;
  padding: 5px;
  z-index: 2;
}
.white-nav {
  background-color: white;
  z-index: 2;
  color: rgb(0, 62, 128);
}
.nav-transparent{
  background-color: transparent;
}
.navBlue{
  background-color: transparent;
  position: fixed;
  justify-content: flex-end;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.nav-titles{
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  opacity: 1;
  margin: 10px;
  float: right;
  color: rgb(0, 62, 128);
}
.navblue-titles{
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  opacity: 1;
  margin: 10px;
  float: right;
  color: white
}
.navbar-title {
  width: 100%;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}
.navbarblue-title {
  width: 100%;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
  color: white;
  z-index: 2;
}

.home-height{
  height: 2653px;
}
.home-button {
  width: 100%;
  font-size: 20px;
  margin: 10px;
  margin-left: 10px;
  float: left;
  display: flex;
  justify-content: flex-start;
  color: rgb(0, 62, 128);
}
.homeblue-button {
  width: 100%;
  font-size: 20px;
  margin: 5px;
  margin-left: 10px;
  float: left;
  display: flex;
  justify-content: flex-start;
  color: white;
  z-index: 2;
}
.menu-icon {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  float: left;
  color: rgb(0, 62, 128);
}
.menublue-icon {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  float: left;
  color: white;
}
.hide{
  display: flex;
  opacity: 1;
}
#ProjectCards{
  height: 700px;
  margin-bottom: 200px;
}

.nft-top-container{
  z-index: 0;
  text-align: center;
  background-color: rgb(221,208,195);
}

.parallax-container{
  background-color: rgb(221,208,195);
  display: flex;
  flex-direction: column;
  height: 2450px;
}
.boxs{
  width: 80%;
  max-width: 800px;
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  margin-top:-50px;
}
.boxs-circles{
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}
.boxs-header{
  margin-top: 0vh;
}
.boxs-header img{
  margin-top: 16vh;
  border: 1px solid black;
  padding: 8px;
  background-color: rgb(255,255,255,0.8);
}
.boxs-title{
  width: 80%;
  max-width: 800px;
  color: white;
  padding: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  text-align: left;
  margin-top: 2em;
  margin-bottom:-1em;
}

.header-title{
  margin: 15px;
  font-size: 2.8em;
  font-weight: 600;
  color: black;
  
}
.header-title2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(0,0,0,0.6);
}


.about-outside-container{
  display: flex;
  justify-content: center;
  flex-direction: space-between;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 110px;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
  background-color: rgb(251,249,236,0.6);
}
.about-outside-container2{
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  width: auto;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  
  margin-top: 50px;
  margin-bottom: 110px;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
  background-color: rgb(251,249,236,0.6);
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  align-content: center;
}

.about-text2 {
  max-width: 500px;
  text-align: center;
  font-size: 1.1em;
  margin: 10px;
  margin-top: 35px;
  padding: 10px;
  font-size: 30;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.about-animation{
  display: flex;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}
.custom-animation {
  animation: custom-animation 1s linear;
  display: inline-block
}

@keyframes custom-animation {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}


.introduction{
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
}
.hidden{
  display: none;
}
.dev-introduction1{
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
  margin-right: 0px;
}
.dev-introduction2{
  margin-right: 0px;
  margin-top: -20px;
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
}
.dev-introduction1-2{
  font-size: 1em;
  width: 105%;
  margin-left: -7px;
  font-weight: 400;
  color: rgb(0, 62, 128);
  margin-bottom: 30px;
}
.dev-introduction2-2{
  margin-top: -20px;
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  margin-bottom: 30px;
}
.art-introduction1{
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
}
.art-introduction2{
  margin-top: -20px;
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
}
.edu-introduction1{
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
  margin-right: 65px;
}
.edu-introduction2{
  margin-right: 65px;
  margin-top: -20px;
  font-size: 2.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  text-align: right;
}


.about-dev-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: -50px;
  align-content: center;
}
.about-dev-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 600px;
}

.dev-text-border{
  display: flex;
  height: 400px;
  width: 1000px;
  align-items: center;
  flex-direction: flex-end;
  border: 1px solid black;
  border-radius: 0px 75px 75px 0px;
  position: relative;
  text-align: right;
  justify-content: right;
  margin-left: -180px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
  background-color: rgb(255, 255, 255);
}
.dev-text-border2{
  display: flex;
  justify-content: center;
  height: auto;
  width: 350px;
  margin-top: 50px;
  align-items: center;
  border: 1px solid rgb(0,0,0,0.3);
  border-radius: 75px 75px 0px 0px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
  background-color: rgb(255, 255, 255);
}
#word1-section{
  margin-right:80px;
}

.devImg{
  height: 400px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}
.devImg img{
  width: 500px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.devImg:hover img{
  transform: scale(1.2);
  z-index:1;
}
.devImg:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 75px;
}
.devImg:hover .dev-slide-hover {
  visibility: visible;
  z-index: 3;
  border-radius: 25px;
}
.dev-slide-hover {
  visibility: hidden;
  color: white;
  z-index: 4;
  margin-top:-100px;
  text-align: center;
  margin-left: 25%;
  position: absolute;
}

.devImg2{
  width: 350px;
  border-radius: 0px 0px 75px 75px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
  
}
.devImg2 img{
  margin-bottom:-5px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.devImg2:hover img{
  margin-right:5px;
  transform: scale(1.2);
  z-index:1;
}
.devImg2:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 351px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 0px 0px 75px 75px;
}
.devImg2:hover .dev-slide-hover {
  visibility: visible;
  z-index: 3;
}

.dev-slide-hover2 {
  color: white;
  z-index: 4;
  text-align: center;
  margin-top: -75px;
  left: 50%;
  top:95%;
  transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
}
.devImg2:hover .dev-slide-hover2 {
  visibility: visible; /* show the text when #aboutthe image is being hovered */
}

.about-art-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: -50px;
  align-content: center;
}
.art-text-border{
  display: flex;
  height: 400px;
  width: 1000px;
  align-items: center;
  flex-direction: flex-end;
  border: 1px solid black;
  border-radius: 0px 75px 75px 0px;
  position: relative;
  text-align: right;
  justify-content: right;
  margin-left: -180px;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
  background-color: rgb(255, 255, 255);
}
#word2-section{
  margin-right:80px;
}

.standart{
  height: 400px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
}
.standart img{
  width: auto;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.standart:hover img{
  transform: scale(1.2);
  z-index:1;
}
.standart:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.standart:hover .art-slide-hover {
  visibility: visible;
  z-index: 3;
}
.art-slide-hover {
  visibility: hidden;
  color: white;
  z-index: 4;
  margin-top:-100px;
  text-align: center;
  margin-left: 33%;
  position: absolute;
}


.about-blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: -50px;
  align-content: center;
}

.blog-text-border{
  display: flex;
  height: 500px;
  width: 1000px;
  align-items: center;
  flex-direction: flex-end;
  border: 1px solid black;
  border-radius: 0px 75px 75px 0px;
  position: relative;
  text-align: right;
  justify-content: right;
  margin-left: -180px;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
  background-color: rgb(255, 255, 255);
}
#word3-section{
  margin-right:0px;
}
.blogPic{
  height: 500px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
}
.blogPic img{
  width: auto;
  height: 550px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.blogPic:hover img{
  transform: scale(1.2);
  z-index:1;
}
.blogPic:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.blogPic:hover .blog-slide-hover {
  visibility: visible;
  z-index: 3;
}

.blog-slide-hover {
  visibility: hidden;
  color: white;
  z-index: 4;
  margin-top:-150px;
  text-align: center;
  margin-left: 29%;
  position: absolute;
}


.img-hover{
  z-index: 1;
  position:relative;
}

.opaque-image {
  background-size: cover;
 }

.container{
  text-align: center;
}

.section {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.buttons {
  margin-top: 20px;
}

.space{
  width: 30px;
  display: inline-block;
}

.left{
  text-align: left;;
}

.box-con{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.4em;
  color: #066dc6;
  min-width: 500px;
}
.box-con-li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -60px;
  font-size: 18px;
  line-height: 1.4em;
  color: #000000;
}

.blue{
  color: rgb(0, 62, 128);
}

.features {
  margin-top: 100px
}

.bsize{
  font-size: 1.8em;
}
.title{
  color: black;
}
.title-country{
  color: black;
}
.footer-container{
  position: relative;
  width: 100%;
  height: 150px;
  color: #fff;
  bottom: 0;
  text-align: center;
  line-height: 40px;
  background-color:rgb(6, 109, 198, 0.3);
}

.code{
  font-size: 14px;
}

.underline{
  text-decoration:underline;
}

h4.introduction a {
  text-decoration:double;
  color: inherit;
}

.parallax-projects{
  margin-top: -200px;
  z-index: 0;
  height: 875px;
}

.title-date{
  margin-top: -1em;
  color: rgb(92, 92, 92);
}

.nft-features{
  height: 775px;
  width: 100%;
}

.resume-iframe-length{
  display:flex;
  justify-content: center; 
  height: 1200px;
  margin-top: 15px;
}

.resume-length{
  display:flex;
  justify-content: center; 
  align-items: center;
  height: 1200px;
}


.slide-in-element {
  margin-top: 100px;
  animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transform: translateX(100%);
}


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(37%);
  }
}

.articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article {
  box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
  background-color: rgb(204,145,29,0.2);
  width: 650px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  color: rgb(0, 62, 128);
  border: 1px solid #000000;
  border-radius: 25px;
  margin-top: 2rem;
  padding: 0 0.7rem;
}
.article-title {
  text-decoration: none;
  color: rgb(0, 62, 128);
  font-size: 25px;
  margin: 10px;
  margin-top: 10px;
  padding: 10px;
}
.spiro-name-desc-container{
  width: 90%;
  height: 75px;
  padding: 5px;
  margin: 5px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border: 1px solid rgb(0,0,0,0.3);
  border-radius: 15px;
  box-shadow: 3xp 7px 15px 2px rgba(0,0,0,0.3);
  background-color: rgb(255,255,255,0.6);
  }

.devto-container{
  height: 1350px;
}

.about-page-height{
  height: 2150px;
}


.skills-features{
  height: 800px;
  margin-top: 150px;
  margin-bottom: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.skills-title{
  margin-bottom: 100px;
  z-index: 2;
  text-align: center;
  min-width: 275px;
}
.skills-container{
  display: flex;
  justify-content: row;
}
.skills-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin: 20px;
  padding: 20px;
}
.skills-item-container:not(:last-child) {
  margin-bottom: 25px;
}
.skills-membercomponent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.3); 
  background-color: rgb(255,255,255,0.3);
  margin: 5px;
  width: 97%;
  height: 90%;
}
.spiro-desc-img{
  margin: 0 auto;
  position: absolute;
  opacity: 0.15;
  margin-top: 20px;
  margin-left: 50px;
  width: 500px;
}
.portrait-desc-img{
  margin: 0 auto;
  position: absolute;
  opacity: 0.15;
  margin-top: -50px;
  width: 600px;
}


.about-page-height{
  height: 100%;
  padding: none;
  overflow: hidden;
}
#about-page-height{
  margin-bottom:-200px;
}

.projectcard-name-desc-container{
  width: 95%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border: 1px solid rgb(0,0,0,0.3);
  border-radius: 15px;
  box-shadow: 3xp 7px 15px 2px rgba(0,0,0,0.3);
  background-color: rgb(255,255,255,0.6);
  }











@media screen and (max-width: 1200px) {
  .parallax-projects {
    display: flex;
    min-height: 1375px;
  }
  #ProjectCards{
    height: 1400px;
  }
  .home-height{
    height: 3353px;
  }
  .projects-outside-container2{
    display: flex;
    flex-wrap: nowrap;
    height: 700px;
    width: 100vw;
    margin-top: -200px;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .introduction{
    font-size: 1.9em;
  }
  .footer-container{
    position: relative;
    width: 100%;
    height: 150px;
    color: #fff;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    background-color:rgb(6, 109, 198, 0.3);
  }
  .about-outside-container{
    display: flex;
    flex-direction: row;
  }
  .about-outside-container2{
    display: flex;
    flex-wrap: nowrap;
    height: 600px;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    
    margin-top: 50px;
    margin-bottom: 110px;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .about-dev-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: -50px;
  }
  .dev-text-border2{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 225px;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
  }
  .devImg2{
    width: 225px;
    height: 300px;
    border-radius: 0px 0px 50px 50px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
  }
  .devImg2 img{
    margin-bottom:-5px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .devImg2:hover img{
    transform: scale(1.2);
    z-index:1;
  }
  .devImg2:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 225px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 0px 0px 50px 50px;
  }
  .devImg2:hover .dev-slide-hover {
    visibility: visible;
    z-index: 3;
  }
  .dev-slide-hover2 {
    color: white;
    z-index: 4;
    text-align: center;
    margin-top: -75px;
    min-width: 150px;
    left: 50%;
    top:95%;
    transform: translate(-50%, -50%);
    position: absolute;
    visibility: hidden;
  }
  
  .about-container {
    margin: 110px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-top: 275px;
    margin-bottom:-100px;
  }
  .box-con{
    justify-content: center;
    min-width: 280px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }
  .box-con-li{
    justify-content: center;
    min-width: 280px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }
  .about-art-container{
    margin-top: 200px;
    margin-right:20px;
  }
  .art-text-border{
    display: flex;
    height: 300px;
    width: 1000px;
    align-items: center;
    flex-direction: flex-end;
    border: 1px solid black;
    border-radius: 0px 75px 75px 0px;
    position: relative;
    text-align: right;
    justify-content: right;
    margin-left: -180px;
  }
  .art-introduction1{
  min-width: 340px;
  margin-right: -55px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  }
  .art-introduction2{
  margin-top: -20px;
  margin-right: -55px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  }
  .standart{
  height: 300px;
  width: auto;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  }
  .standart img{
  width: auto;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  }
  .art-slide-hover{
  margin-left: 90px;
  }


  .about-blog-container{
    margin-top:-30px;
    margin-right: 20px;
    margin-bottom: 200px;
  }
  .blog-text-container{
    margin-right:20px;
  }
  .blog-text-border{
    display: flex;
    height: 440px;
    width: 1000px;
    align-items: center;
    flex-direction: flex-end;
    border: 1px solid black;
    border-radius: 0px 75px 75px 0px;
    position: relative;
    text-align: right;
    justify-content: right;
    margin-left: -180px;
  }
  .edu-introduction1{
  min-width: 340px;
  margin-right: 20px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  }
  .edu-introduction2{
  margin-top: -20px;
  margin-right: 18px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
  }

  .blogPic{
  height: 440px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  }
  .blogPic img{
  width: auto;
  height: 440px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  }
  .blog-slide-hover {
  margin-left:90px;
  }

  .nav-titles{
    background-color: transparent;
    position: flex;
    flex-direction: flex-end;
    justify-content: flex-end;
  }

  .devto-container{
    width: 100%;
    height: 1200px;
    margin-bottom: 100px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume-length{
    display:flex;
    justify-content: center; 
    align-items: center;
    align-content: center;
  }
  .resume-button{
    margin-bottom:75px;
  }

  .portrait-page-height{
    height: 1500px;
  }
  .spiro-name-desc-container{
    width: 90%;
    height: 75px;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 15px;
    box-shadow: 3xp 7px 15px 2px rgba(0,0,0,0.3);
    background-color: rgb(255,255,255,0.6);
    }
  .spiro-desc-img{
    margin: 0 auto;
    position: absolute;
    opacity: 0.15;
    margin-top: 0px;
    margin-left: -50px;
    width: 700px;
  }
  .portrait-desc-img{
    margin: 0 auto;
    position: absolute;
    opacity: 0.15;
    margin-top: -75px;
    margin-left: -25px;    
    height: 900px;
    width: auto;
  }  
  .spiro-outside-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .portrait-outside-container{
    display: block;
    height: 1425px;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .nft-features{
    margin-top: 50px;
  }
  .country-features{
    margin-top: 50px;
  }


.skills-features{
  height: 800px;
  margin-top: 150px;
  margin-bottom: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.skills-title{
  margin-bottom: 100px;
  z-index: 2;
  text-align: center;
  min-width: 275px;
}
.skills-container{
  display: flex;
  justify-content: row;
}
.skills-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-item-container:not(:last-child) {
  margin-bottom: 25px;
}
.skills-membercomponent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.3); 
  background-color: rgb(255,255,255,0.3);
  margin: 10px;
  width: 100%;
  height: 90%;
}
}















@media screen and (max-width: 665px) {
  .parallax-projects{
    margin-top: 50px;
    margin-bottom: -600px;
  }
  .header-title{
    font-size: 12;
    color: black;
  }
  .home-height{
    height: 100%;
  }
  .header-title2{
    font-size: 1.2em;
  }

  #swiper-projects{
    margin-top: -50px;
  }
  .footer-container{
    position: relative;
    width: 100%;
    height: 150px;
    color: #fff;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    background-color:rgb(6, 109, 198, 0.3);
  }
  .about-outside-container2{
    display: flex;
    flex-wrap: nowrap;
    height: 600px;
    padding: 10px;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    
    margin-top: 50px;
    margin-bottom: 110px;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .projects-outside-container2{
    display: flex;
    flex-wrap: nowrap;
    height: 700px;
    width: 100vw;
    margin-top:300px;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    margin-top:-100px;
    margin-bottom: 100px;
  }
  
  .dev-text-border2{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    height: 250px;
    width: 325px;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
  }

  .devImg2{
    width: 325px;
    height: 250px;
    border-radius: 0px 0px 25px 25px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgb(0,0,0,0.3);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
    
  }
  .devImg2 img{
    margin-bottom: -20px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .devImg2:hover img{
    margin-right:5px;
    transform: scale(1.2);
    z-index:1;
  }
  .devImg2:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 351px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 20px 20px 0px 0px;
  }
  .devImg2:hover .dev-slide-hover {
    visibility: visible;
    z-index: 3;
  }

  .introduction{
    font-size: 1.6em;
    font-weight: 400;
    color: rgb(0, 62, 128);
    margin: 30px;
  }
  
  .about-art-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .art-text-border{
    display: flex;
    height: 230px;
    width: 525px;
    align-items: center;
    flex-direction: flex-end;
    border: 1px solid black;
    border-radius: 0px 75px 75px 0px;
    position: relative;
    text-align: right;
    justify-content: right;
    margin-left: -170px;
  }
  .art-introduction1{
    margin-right: -65px;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(0, 62, 128);
  }
  .art-introduction2{
    margin-top: -20px;
    margin-right: -65px;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(0, 62, 128);
  }
.standart{
  height: 280px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  margin-left: 10px;
}
.standart img{
  width: auto;
  height: 280px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.standart:hover img{
  transform: scale(1.2);
  z-index:1;
}
.standart:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.standart:hover .art-slide-hover {
  visibility: visible;
  z-index: 3;
}
.art-slide-hover {
  color: white;
  z-index: 4;
  margin-top:-100px;
  margin-left:75px;
  text-align: center;
}

.about-blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
  margin-top: -200px;
  margin-bottom: 100px;
  margin-left: 80px;
}
.blog-text-border{
  display: flex;
  height: 220px;
  width: 455px;
  align-items: center;
  flex-direction: flex-end;
  border: 1px solid black;
  border-radius: 0px 75px 75px 0px;
  position: relative;
  text-align: right;
  justify-content: right;
  margin-left: -170px;
}
.edu-introduction1{
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
}
.edu-introduction2{
  margin-top: -20px;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0, 62, 128);
}

.blogPic{
  height: 400px;
  border-radius: 75px;
  cursor: pointer;
  overflow: hidden;
  margin-left: -55px;
}
.blogPic img{
  width: auto;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.blogPic:hover img{
  transform: scale(1.2);
  z-index:1;
}
.blogPic:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.blogPic:hover .blog-slide-hover {
  visibility: visible;
  z-index: 3;
  margin-left: 65px;
}

.blog-slide-hover {
  visibility: hidden;
  color: white;
  z-index: 4;
  margin-top:-100px;
  text-align: center;
}

  .box-con{
    justify-content: center;
    min-width: 280px;
    max-width: 450px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }
  .box-con-li{
    margin-left: -30px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.4em;
    color: #000000;
  }
  .nft-features{
    min-height: 875px;
  }
  .resume-iframe-length{
    max-height: 700px;
  }
  .resume-length{
    max-height: 550px;
  }
  .nav-titles {
    flex-direction: column;
    margin: 5px;
    margin-top: 30px;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 2;
  }
  .navbar-title{
    font-size: 2em;
    padding: 5px;
    z-index: 2;
    color: rgb(255,255,255,0.6)
  }
  .navbarblue-title{
    padding: 5px;
    color: white;
  }

  .menu-icon {
    display: block;
    margin: 5px;
    float: right;
    z-index: 2;
  }

  .show {
    visibility: visible;
    display:flex;
    transform: translateX(225%);
  }

  .hide {
    visibility: hidden;
    display: none;
    transform: translateX(100%);
  }

  .artpage{ 
    max-height: 3z00px;
  }

  .spiro-outside-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    height: 900px;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .portrait-page-height{
    height: 1000px;
  }
  .portrait-outside-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    height: 900px;
    box-shadow: 5px 7px 15px 7px rgba(0,0,0,0.3);
    background-color: rgb(251,249,236,0.6);
  }
  .spiro-desc-container{
    margin-top: 100px;
    width: 90%;
    margin-left: 25px;
    font-size: 0.9em;
    z-index: 0
  }
  .portrait-desc-container{
    margin-top: 90px;
    width: 90%;
    margin-left: 25px;
    font-size: 0.9em;
    z-index: 0
  }
  .spiro-desc-img{
    margin-top: -175px;
    margin-left: -150px;
    width: 750px;
    opacity: 0.2;
    margin-bottom: -100px;
    background-color: transparent;
  }
  .portrait-desc-img{
    margin-top: -250px;
    margin-left: -125px;
    width: 650px;
    opacity: 0.2
  }

  .devto-container{
    width: 100%;
    height: 1000px;
    margin-bottom: 100px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .articles{
    display: flex;
    height: auto;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 10px;
  }
  .article{
    width: 90%;
    height: auto;
  }
  .article-title{
    padding: 10px;
    margin-top: 20px;
    font-size: 1.4em;
  }
  .resume-length{
    display:flex;
    justify-content: center; 
    min-height: 100vh;
    margin-top: -75px;
  }
  .resume-button{
    margin-bottom: 75px;
    align-items: center;
  }
  
  .about-page-height{
  height: 100%;
}
  
  .skills-features{
     width: auto;
  }
  
  
  .skills-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    height: 175px;
    margin: 20px;
    border: 1px solid rgb(0,0,0,0.3);
  }
  .skills-title{
    min-width: 275px;
    text-align: center;
    z-index: 2;
  }
  .skills-membercomponent{
    width: 95%;
    max-height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.3); 
    background-color: rgb(255,255,255,0.3);
  }
  .projects-membercomponent{
    width: 90%;
    display: flex;
    min-height: 100px;
    max-height: 100px;
    padding: 7px;
    justify-content: center;
    flex-direction: column;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.3); 
    background-color: rgb(255,255,255,0.4);
  }
}

@media screen and (min-width: 665px) {
  .menu-icon {
    display: none;
  }
  .nav-titles {
    display: flex;
    opacity: 1;
    margin: 10px;
    float: right;
    z-index: 2;
  }

  .box-con{
    justify-content: center;
    margin: 25px 0px 0px 0px;
    font-size: 20px;
  }
  .box-con-li{
    margin-left: -30px;
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.4em;
    color: #000000;
  }
  .list1{
    margin-left: 10px;
  }
  .list2{
    margin-right: 0px;
  }
  .list3{
    margin-right: 28px;
  }
  .list4{
    margin-right: -6px;
  }
}