nav{
  flex: 1;
  display:flex;
  justify-content: space-around;
  margin: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  text-align: left;
  margin-left: 10%;
  margin-top: 5px;
}
.opaque-image {
  opacity: 0.4;
  background-size: cover;
  filter: blur(3px);
 }

.container{
  margin: 0 auto;
  text-align: center;
}

.boxs{
  width: 80%;
  max-width: 800px;
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.section {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.title{
  font-size: 2.6em;
  color: black;
}

.header{
  color: #333;
}

.introduction{
  font-size: 1.5em;
  font-weight: 400;
  color: #066dc6;
}

.buttons {
  margin-top: 20px;
}

.space{
  width: 30px;
  display: inline-block;
}

.left{
  text-align: left;;
}

.box-con{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.4em;
  color: #066dc6;
  min-width: 500px;
}
.box-con-li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -60px;
  font-size: 18px;
  line-height: 1.4em;
  color: #000000;
}

.blue{
  color: #066dc6;
}

.features {
  margin-top: 100px
}

.bsize{
  font-size: 1.8em;
}
.title{
  color: white;
}
.footer{
  width: 100%;
  height: 40px;
  color: #fff;
  margin-top: -50px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  background-color:#066dc6;
  opacity: 50%;
}

.code{
  font-size: 14px;
}

.underline{
  text-decoration:underline;
}


.navbar-title {
  display:contents;
  justify-content:right;
  align-items: right;
  text-align: right;
  position: fixed;
  margin-right: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  font-size: 20px;
}


h4.introduction a {
  text-decoration:double;
  color: inherit;
}

.parallax-projects{
  background-color: rgb(26, 26, 26);
  z-index: 0;
}

.title-date{
  margin-top: -1em;
  color: rgb(92, 92, 92);
}

@media screen and (max-width: 1000px) {
  .parallax-projects {
    display: flex;
    min-height: 1275px;
  }
  .box-con{
    justify-content: center;
    min-width: 280px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }
  .box-con-li{
    justify-content: center;
    min-width: 280px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }

}
@media screen and (max-width: 665px) {
  .parallax-projects {
    min-height: 2400px;
  }
  .box-con{
    justify-content: center;
    min-width: 280px;
    max-width: 450px;
    margin: 25px 0px 0px 0px;
    font-size: 14px;
  }
  .box-con-li{
    margin-left: -30px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.4em;
    color: #000000;
  }
}
@media screen and (min-width: 665px) {
  .box-con{
    justify-content: center;
    margin: 25px 0px 0px 0px;
    font-size: 20px;
  }
  .box-con-li{
    margin-left: -30px;
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.4em;
    color: #000000;
  }
  .list1{
    margin-left: 10px;
  }
  .list2{
    margin-right: 0px;
  }
  .list3{
    margin-right: 28px;
  }
  .list4{
    margin-right: -6px;
  }
}