.country-features{
	margin-top: 40px;
	max-height: 800px;
	margin-bottom: 100px;
}
.phonebook-features{
	margin-top: -20px;
	max-height: 800px;
	margin-bottom: 100px;
}
.phonebook-title{
	text-align: center;
	font-size: 3em;
	color: black;
	margin-top: 1vh;
}
.nft-features{
	height: 700px;
	margin-bottom: 100px;
}
.stock-features{
	margin-top: 50px;
	max-height: 855px;
	margin-bottom: 100px;
}
.stock-title{
	text-align: center;
	font-size: 3em;
	color: black;
	margin-top: 1vh;
}
.skills-features{
	justify-content: center;
	align-items: center;
	border: 3px solid purple;
}
.features-title{
	color: rgb(0, 62, 128);
	font-size: 2.5em;
}
.skills-title{
	font-size: 1.7em;
	color: rgb(0, 62, 128);
	box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.2);
	background-color: rgb(255,255,255,0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2vh;
	width: auto;
	border: 2px solid rgb(0, 62, 128, 0.8);
	border-radius: 25px;
}

.replaceFeature {
	margin-top: 20px;
	margin-bottom: 10px;
	color: rgb(0, 62, 128);
}

.skills-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	/* border: 1px solid black; border-radius: 25px; */
}
.skills-item-container{
	padding: .5em;
	margin: .5em;
	width: 70%;
	max-height: 24vh;
	border: 1px solid rgb(0,0,0,0.4); 
	background-color: rgb(204, 145, 29, 0.2);
	border-radius: 25px;
	box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.3);
	z-index: 0;
}
.skills-item{
	background-color: rgb(255,255,255,0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	width: auto;
	border: 1px solid black;
	border-radius: 25px;
}
.paginationStyle{
	left: 200;
}

.phone-feature-replace{
	display: flex;
	align-items: center;
	justify-content: center;
}
.icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}
.features-title{
	text-align: center;
	font-size: 2.5rem;

}
.icon{
	justify-content: center;
	margin: 0 auto;
	margin: 1vh;
}
.icon-title{
	text-align: center;
	font-size: 1.3em;
	margin-top: 2vh;
	color: rgb(0, 62, 128);
}

@media screen and (max-width: 75em) {
	.blue{
		font-size: 2.5rem;
	}
	.icon img {
		height: auto;
		margin: 0 auto;
	}
	.icons {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-evenly;
		
		
	}
	.features-title{
		text-align: center;
		font-size: 2.5rem;
	}
	.icon{
		margin-bottom: 2vh;
	}
	.icon-title{
		text-align: center;
		font-size: 1.3em;
		margin-top: 2vh;
		color: rgb(0, 62, 128);
	}
	.stock-title{
		text-align: center;
		font-size: 3em;
		color: black;
		margin-top: 1vh;
	}
	.title-phone{
		text-align: center;
		font-size: 3em;
		color: black;
		margin-top: 1vh;
	}
	.title-nft{
		text-align: center;
		font-size: 2.5em;
	}
	.title-date{
		text-align: center;
		font-size: 1.5em;
	}
	.introduction{ 
		text-align: center;
		justify-content: center;
		margin: 0 auto;
	}
	.country-features{
		height: 700px;
		margin-top: 50px;
		width: 100%;
	}
	.nft-features{
		height: 700px;
	}
	.phonebook-features{
		height: 700px;
		width: 100%;
	}
	.stock-features{
		position: relative;
		height: auto;
	}
}

@media screen and (max-width: 42em) {
	.icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: -2vh;
		margin-bottom: 4vh;
	}
	.replaceFeature {
		margin-top: 20px;
		padding-right: 30px;
		padding-left: 30px;
	}
	.features-title{
		text-align: center;
	}
	.icon{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 3vh;
		margin: .9vh;
	}
	
	.icon-title{
		color: rgb(0, 62, 128);
		font-size: 1em;
		text-align: center;
		margin-top: 1vh;
		line-height: 1.2;
	}
	.country-features{
		height: 800px;
		width: 100%;
	}
	.nft-features{
		margin-top: 50px;
		width: 100%;
	}
	.phonebook-features{
		position: relative;
		height: auto;
	}
	.stock-features{
		position: relative;
		height: auto;
	}
	.stock-title{
		text-align: center;
		font-size: 3em;
		color: black;
		margin-top: 1vh;
	}
}	


